.footer {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.footer-list {
    display: flex;
    flex-direction: column;
    line-height: 50px;
}

.footer-list li a {
    text-decoration: none;
    color: black;
    font-weight: 550;
}

#content {
    width: 25%;
    margin-left: 7%;
    margin-right: 5%;
}

#programs {
    margin-right: 5%;
}

#console {
    margin-right: 5%;
}