@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400&display=swap');

body {
    font-family: 'Exo', sans-serif;
}

.login-page {
    background-image: url("/img/login-back.png");
    margin-top: 5%;
    height: 500px;
}

.login {
    border-radius: 35px;
    width: 30%;
    height: auto;
    border: 2px solid #FFD000;
    padding: 3%;
    text-align: center;
    margin: auto;
    background-color: white;
    margin-top: 10%;
}

.login h2 {
    color: #FFD000;
    margin-bottom: 5%;
    font-weight: 800;
}

span {
    display: flex;
    flex-direction: row;
    border: 1px solid #FFD000;
    color: white;
    background-color: #FFD000;
    justify-content: center;
    border-radius: 5px;
    opacity: 0.75;
    transition: 0.3s;
}

.login a {
    text-decoration: none;
    font-weight: 600;
    color: white;
}

.btn-login:hover {
    opacity: 1;
}

.btn-login img {
    margin-right: 2%;
    height: 70%;
    margin-top: 4%;
}

.footer-2 button:hover {
    opacity: 1;
}
