.tooltip {
    position: relative;
    display: inline-block;
    background:#80868b;
    color:white;
    border-radius: 20%;
    padding: 0 2px;
    margin-left: auto;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #1a73e8;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 115%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

#chatBtn {
    width: 70px;
    height: 40px;
    border-radius: 10%;
    background-color: #1A73E8;
    color: #fff;
    margin-left: 8px;
}

#userNumber {
    padding: 2px;
    background-color: grey;
    position: relative;
    bottom: 5px;
    left: 5px;
    border-radius: 10%;
}

#chatScreen {
    position: absolute;
    top: 100%;
    right: 4%;
    width: 300px;
    height: 480px;
    padding: 10px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#chatView {
    color: #fff;
    flex:7;
    border: 1px solid #80868b;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
    background-color:white;
    overflow:auto;
}

#input {
    flex:5;
}

#sendBtn {
    color: #1a73e8;
    flex: 1;
}

.message {
    display:flex;
    margin-bottom: 8px;
}

.message-me {
    justify-content: flex-end;
}

.message img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.message p {
    margin: 0 0 5px 5px;
    background-color: #1a73e8;
    width: 180px;
    padding: 4px;
    border-radius: 5px;
}

