
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@500&display=swap');

body {
    font-family: 'Exo', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.container-1 {
    display: flex;
}

.navbar-nav {
    list-style: none;
    display: flex;
    width: 70%;
    margin-left: 25%;
    margin-top: 1%;
}

.container-1 a {
    text-decoration: none;
    color: black;
}

.navbar {
    padding: 1%;
}


.navbar-brand {
    width: 30%;
    margin-left: 5%;
    font-size: 20px;
}

.nav-item {
    margin-right: 5%;
}

.btn-login-1 {
    background-color: #185ABD;
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    color: white !important;
    font-weight: 700;
    border: none;
    /* width: 20px !important; */
}

.btn-login-1:hover {
    opacity: 0.75;
}

.avatar {
    margin-right: 3%;
}


/*teacher-classroom*/

.teacher-class {
    text-align: center;
    border-radius: 10px;
    width: 60%;
    padding: 3%;
    margin-left: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 10%;
    margin-bottom: 3%;
}

#teacher-class-multi {
    width: 40%;
    height: 35px;
}

#add-btn {
    border: 1px solid #185ABD;
    background-color: white;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
    color: #185ABD;
    text-decoration: none;
    width: 10%;
}

#add-btn:hover {
    background: #185ABD;
    color: white;
}

.teacher-labs {
    padding: 60px;
    width: 60%;
    border-radius: 50px;
    margin-top: 5%;
    margin-left: 15%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 5%;
}

#title-lab {
    margin-bottom: 3%;
}

#span-labs {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: none !important;
}


.btn-labs button {
    border: 1px solid #185ABD;
    background-color: white;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
}

.btn-labs button:hover {
    background: #185ABD;
    color: white;
}

#btns-gen {
    margin-bottom: 3%;
}