<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link th:href="@{/css/footer.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/css/document.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="header">
        <nav class="navbar">
            <div class="container-1">
                <a class="navbar-brand" href="/"><b>Realabs</b></a>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:href="@{/my-labs}">My labs</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/document}">Document</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/teacher}">Teacher</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/student}">Student</a>
                    </li>
                    <li class="nav-item">
                        <th:block th:if="${userInfo} != null">
                            <a th:href="@{/profile}" >Profile</a>
                        </th:block>
                    </li>


                </ul>
                <th:block th:if="${userInfo} != null">
                    <img class="avatar" th:src="${userInfo.getPicture()}" height="40px" width="40px">
                </th:block>
                <div th:switch="${userInfo} == null">
                    <a th:case="true" th:href="@{/login}">
                        <button class="btn-login-1">Login</button>
                    </a>
                    <a th:case="false" th:href="@{/logout}">
                        <button class="btn-login-1">Logout</button>
                    </a>
                </div>
            </div>
        </nav>
    </div>

    <div></div>

    <div th:replace="footer :: footer"></div>
</body>
</html>