<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/footer.css}" rel="stylesheet" type="text/css"/>
    <title>Header</title>
</head>
<body>
    <footer th:fragment="footer">
        <div class="footer">
            <div id="content">
                <h3>REALABS</h3>
                <p>REALABS is provider of practical teaching aids through powerful realtime classroom features.</p>
            </div>
            <div id="programs">
                <h3>PROGRAMS</h3>
                <ul class="footer-list">
                    <li>
                        <a href="/techmakers">Techmakers</a>
                    </li>
                    <li>
                        <a href="/agency">Agency</a>
                    </li>
                    <li>
                        <a href="/program">Program</a>
                    </li>
                    <li>
                        <a href="/groups">Google Developer Groups</a>
                    </li>
                    <li>
                        <a href="/experts">Google Developer Experts</a>
                    </li>
                </ul>
            </div>

            <div id="console">
                <h3>DEVELOPER CONSOLE</h3>
                <ul class="footer-list">
                    <li>
                        <a href="/ggapi">Google API Console</a>
                    </li>
                    <li>
                        <a href="/ggcloud">Google Cloud Developer Console</a>
                    </li>
                    <li>
                        <a href="/ggplay">Google Play Developer Console</a>
                    </li>
                    <li >
                        <a href="/firebase">Firebase Console</a>
                    </li>
                </ul>
            </div>

            <div id="more">
                <h3>EXPLORE More</h3>
                <ul class="footer-list">
                    <li>
                        <a href="/android">Android</a>
                    </li>
                    <li>
                        <a href="/ios">iOS</a>
                    </li>
                    <li>
                        <a href="/web">Web</a>
                    </li>
                    <li>
                        <a href="/games">Games</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>
