<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:utext="${html}"></th:block>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-analytics.js"></script>

<script>
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    var firebaseConfig = {
        apiKey: "AIzaSyCaXpuxgsJ6nxKgqjB88l4y9VGauJKcmCM",
        authDomain: "test-1610421956350.firebaseapp.com",
        projectId: "test-1610421956350",
        storageBucket: "test-1610421956350.appspot.com",
        messagingSenderId: "183944856934",
        appId: "1:183944856934:web:b6db6cebd31173d6b2b4a7",
        measurementId: "G-41QBMPH5Y7"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>
<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-database.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}">
<script th:inline="javascript">
    let database = firebase.database();
    let labId = [[${labId}]];
    let userId = [[${userInfo.getSub()}]];
    let userName = [[${userInfo.getName()}]];

    let liTag = document.querySelectorAll('.steps ol li');
    for (let i = 0; i < liTag.length; i++) {
        let tooltip = document.createElement('span');
        tooltip.setAttribute('class', 'tooltip');
        tooltip.textContent = 0;

        liTag[i].children[0].appendChild(tooltip);
    }

    let userImage = [[${userInfo.getPicture()}]];
    let devsiteUser = document.querySelector('devsite-user');
    devsiteUser.style.display = 'flex';
    devsiteUser.innerHTML = '' +
        '<a href="/profile">' +
        `<img src="${userImage}" style="height: 36px; width: 36px; border-radius: 50%;">` +
        '</a>' +
        '<button id="chatBtn">' +
        '    <span class="material-icons">groups</span>' +
        '    <span id="userNumber"><b>0</b></span>' +
        '</button>';

    let codelabTitle = document.getElementById('codelab-title');
    codelabTitle.innerHTML += '' +
        '<div id="chatScreen" hidden>' +
        '    <div id="chatView"></div>' +
        '    <div style="flex:1; background-color:blue; display:flex">' +
        '        <textarea id="input"></textarea>' +
        '        <button id="sendBtn" style="flex:1">' +
        '            <span class="material-icons">send</span>' +
        '        </button>' +
        '    </div>' +
        '</div>';

    let chatBtn = document.getElementById('chatBtn');
    let chatScreen = document.getElementById('chatScreen');
    let fabs = document.getElementById('fabs');
    let isOpened = false;
    chatBtn.addEventListener('click', () => {
        if (isOpened) {
            chatScreen.setAttribute('hidden', '');
            fabs.removeAttribute('hidden');
        } else {
            chatScreen.removeAttribute('hidden');
            fabs.setAttribute('hidden', '');
        }
        isOpened = !isOpened;
    });

    let chatView = document.getElementById('chatView');
    let chatRef = database.ref(`labs/${labId}/chats`);

    chatRef.on('value', (snapshot) => {
        chatView.innerHTML = '';
        snapshot.forEach((childNode) => {
            if (childNode.child('id').val() === userId) {
                chatView.innerHTML += '' +
                    '<div class="message message-me">' +
                    `     <p>${childNode.child('message').val()}</p>` +
                    '</div>';
            } else {
                chatView.innerHTML += '' +
                    '<div class="message">' +
                    `     <img src="${childNode.child('image').val()}">` +
                    `     <p>${childNode.child('message').val()}</p>` +
                    '</div>';
            }
        });
    });

    let sendBtn = document.getElementById('sendBtn');
    sendBtn.addEventListener('click', () => {
        let input = document.getElementById('input');
        if (input.value.trim().length !== 0) {
            chatRef.push().set({
                id: userId,
                image: userImage,
                message: input.value.trim(),
            })
        }
        input.value = '';
    });


    let userRef = database.ref(`labs/${labId}/users/${userId}`);
    userRef.once('value', (snapshot) => {
        let data = snapshot.val();
        let initStep = 0;
        let initTab = 1;
        let online = true;

        if (data === null) {
            userRef.set({
                userName: userName,
                step: initStep,
                tabs: initTab,
                online: online
            });
        } else {
            userRef.update({tabs: snapshot.child('tabs').val()+1, online: true});
        }
    });

    // change step
    let olTag = document.querySelector('.steps ol');
    let step = 0;
    olTag.addEventListener('click', function(event) {
        let target = event.target;
        if (target.tagName === 'A' && target.getAttribute('href')[0] === '#') {
            step = parseInt(target.getAttribute('href').slice(1));
            userRef.update({step: step});
        }
    }, false);
    window.addEventListener('keydown', (event) => {
        let key = event.key.toLowerCase();
        if (key === 'arrowLeft'.toLowerCase()) {
            if (step === 0) {
                return;
            }
            step--;
        } else if (key === 'arrowRight'.toLowerCase()) {
            if (step === liTag.length-1) {
                return;
            }
            step++;
        }
        userRef.update({step: step});
    });

    userRef.on('value', (snapshot) => {
        let step = snapshot.child('step').val();
        liTag[step].children[0].click();
    });

    let labRef = database.ref(`labs/${labId}/users`);
    labRef.on('value', (snapshot) => {
        let numberStep = [];
        for (let i = 0; i < liTag.length; i++) {
            numberStep[i] = {number: 0, userNames: []};
        }

        snapshot.forEach((childNode) => {
            if (childNode.child('online').val() === true) {
                numberStep[childNode.child('step').val()].number++;
                numberStep[childNode.child('step').val()].userNames.push(childNode.child('userName').val());
            }
        });

        let tooltips = document.querySelectorAll('.steps ol li a .tooltip');
        for (let i = 0; i < tooltips.length; i++) {
            tooltips[i].style.backgroundColor = numberStep[i].number !== 0 ? '#1a73e8' : '#80868b';
            tooltips[i].textContent = numberStep[i].number;

            if (numberStep[i].number !== 0) {
                let tooltipText = document.createElement('span');
                tooltipText.setAttribute('class', 'tooltiptext');

                for (let j = 0; j < numberStep[i].userNames.length; j++) {
                    let usernameSpan = document.createElement('span');
                    usernameSpan.innerHTML += `${numberStep[i].userNames[j]}<br>`;

                    tooltipText.appendChild(usernameSpan);
                }

                tooltips[i].appendChild(tooltipText);
            }
        }

        let userNumber = 0;
        for (let i = 0; i < tooltips.length; i++) {
            userNumber += numberStep[i].number;
        }
        document.querySelector('#userNumber b').innerHTML = userNumber-1;
    });

    window.addEventListener("beforeunload", function() {
        userRef.once('value', (snapshot) => {
            let tabs = snapshot.child('tabs').val() - 1;
            if (tabs === 0) {
                userRef.update({tabs: tabs, online: false});
            } else {
                userRef.update({tabs: tabs});
            }
        });
        return null;
    });
</script>

