<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Labs</title>
</head>
<body>
    <a th:href="@{/}">Realabs</a>
    <a th:href="@{/my-labs}">My labs</a>
    <a th:href="@{/document}">Document</a>
    <a th:href="@{/teacher}">Teacher</a>
    <a th:href="@{/student}">Student</a>
    <a th:href="@{/profile}">Profile</a>

    <th:block th:if="${userInfo} != null">
        <img th:src="${userInfo.getPicture()}" height="40px" width="40px">
    </th:block>

    <br/>
    <br/>
    <form th:action="@{/my-labs}" th:object="${labId}" method="post">
        <label for="labId">ID:</label>
        <input type="text" id="labId" th:field="*{id}" value=""><br><br>
        <input type="submit">
    </form>
    <br>
    <div th:each="item: ${labs}" style="padding-bottom: 10px">
        <span style="border: 2px solid black">
            <span th:text="${item.title}"></span>
            <a th:href="@{/preview-lab(id=${item.id})}"><button>Preview</button></a>
            <a th:href="@{/my-labs/delete(id=${item.id})}"><button>Delete</button></a>
        </span>
    </div>

</body>
</html>